* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: sans-serif;
}

input {
  outline: none;
}

.container {
  width: 1165px;
  margin: 0 auto;
}

button:hover {
  color: #cccccc;
  border-color: 1px solid #cccccc;
}

.fon-header {
  width: 100%;
  background-color: #f6f6f6;
  margin-top: 0px;
}

.nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 10px 0px;
}

.left-nav {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 469px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.right-nav {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 312px;
  padding: 0px;
}

._right-nav2 {
  display: none;
}

.nav-sl {
  font-size: 11px;
  line-height: 19px;
  font-weight: 400;
  text-transform: uppercase;
  color: #7e7e7e;
  text-decoration: none;
}

.nav-sl:hover {
  color: #cccccc;
}

.find {
  width: 260px;
  height: 32px;
  background-color: #ffffff;
  border: 1px solid #e1e1e1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.find1 {
  font-size: 13px;
  line-height: 19px;
  font-weight: 400;
  color: #888888;
  padding-left: 10px;
  border: none;
}

.poisk {
  border: none;
  background-color: #ffffff;
  padding-right: 10px;
  padding-left: 10px;
}

.poisk:hover {
  background-color: #cccccc;
}

.mod1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.logo-p-my {
  font-size: 44px;
  line-height: 19px;
  font-weight: 700;
  color: #454545;
  margin-left: 10px;
  margin-bottom: 0px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-basket-mod {
  display: none;
}

._nav-nodisp2 {
  display: none;
}

._logo-mod {
  display: none;
}

.nav-pol-el {
  width: 16px;
  height: 3px;
  background-color: #666666;
  margin-bottom: 2px;
}

.nav-pol-p {
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  text-transform: uppercase;
  color: #565656;
  margin-left: 5px;
}

.nav-header-2 {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-header-2 .nav-sl-2 {
  text-decoration: none;
  font-size: 14px;
  line-height: 19px;
  font-weight: 700;
  text-transform: uppercase;
  color: #565656;
  margin-left: 50px;
}

.nav-header-2 .nav-sl-2:hover {
  color: #cccccc;
}

.nav-header-bottom {
  margin-top: 25px;
}

.header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.baner-main {
  height: 1070px;
  background-color: #cccccc;
  width: 100%;
}

.baner {
  height: 1040px;
  background-color: #cccccc;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.but-baner {
  width: 48px;
  height: 48px;
  background-color: rgba(224, 224, 224, 0);
  border: 3px solid #ffffff;
  border-radius: 50%;
  color: #ffffff;
  line-height: 18px;
}

.but-baner:hover {
  color: black;
  background-color: #ffffff;
}

._but-baner1 {
  margin-left: 30px;
}

.three-but {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

._three-but {
  display: none;
}

.three-but-item {
  width: 14px;
  height: 14px;
  margin-right: 10px;
  background-color: rgba(85, 85, 85, 0);
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.three-but-item:hover {
  background-color: #ffffff;
}

._but-baner2 {
  margin-right: 30px;
}

._container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: 10%;
}

.baner-p {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
  text-transform: uppercase;
  color: #555555;
  margin-bottom: 20px;
}

.baner-parag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 452px;
}

._baner-parag2 {
  display: none;
}

._baner-p {
  font-size: 100px;
  line-height: 80px;
  font-weight: 800;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.05);
  color: #ffffff;
}

._baner-p1 {
  font-size: 35px;
  line-height: 33px;
  color: #4c4c4c;
  margin-bottom: 30px;
}

._baner-p2 {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

._baner-p2:hover {
  color: #ffffff;
}

.items {
  width: 100%;
  background-color: #f3f3f3;
  padding-bottom: 60px;
  padding-top: 50px;
}

._but-baner {
  width: 10px;
  height: 14px;
  background-color: #ffffff;
  width: 39px;
  height: 38px;
  background-color: rgba(224, 224, 224, 0);
  border: 3px solid #ffffff;
  border-radius: 50%;
}

.item1-my {
  width: 770px;
  height: 430px;
  background-color: #cccccc;
  margin-bottom: 30px;
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.line {
  width: 101px;
  height: 3px;
  background-color: #ffffff;
  margin-top: 40px;
}

._line_mod {
  width: 50px;
  height: 2px;
  margin-top: 25px;
}

._line_mod2 {
  width: 80px;
  height: 1px;
  margin-top: 0;
}

.exclusive-my {
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  border-bottom: none;
}

._exclusive6 {
  font-size: 35px;
  line-height: 22px;
  margin-top: 208px;
  margin-bottom: 15px;
}

._exclusive7 {
  font-size: 30px;
  line-height: 40px;
  margin-top: 20px;
  margin-bottom: 150px;
}

._exclusive {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-top: 20px;
}

._exclusive5 {
  font-size: 30px;
  line-height: 22px;
  font-weight: 800;
}

._exclusive2 {
  font-size: 14.1px;
  line-height: 21px;
  text-align: center;
  margin-top: 80px;
  text-decoration: none;
}

._exclusive2:hover {
  color: black;
}

._exclusive3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

._exclusive4 {
  margin-top: 0px;
}

.border-my {
  width: 431px;
  height: 70px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0.29);
  margin: 0 auto;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 65px 35px;
  margin-top: 110px;
}

.line_exc-my {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wom {
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: #ffffff;
  margin-left: 10px;
  margin-right: 10px;
}

.item2-my {
  width: 370px;
  height: 150px;
  background-color: #cccccc;
  margin-bottom: 30px;
  margin-right: 30px;
  padding-top: 100px;
}

._item2-my {
  margin-bottom: 0px;
}

.item3 {
  width: 370px;
  height: 530px;
  background-color: #cccccc;
  margin-right: 30px;
}

.black {
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: #2f2f2f;
  margin-bottom: 12px;
  text-align: center;
}

._line_mod3 {
  width: 50px;
  height: 1px;
  background-color: #333333;
  margin-top: 30px;
  margin-bottom: 30px;
}

.hot {
  font-size: 25px;
  line-height: 40px;
  font-weight: 800;
  text-transform: uppercase;
  color: #333333;
  margin-left: 5px;
  margin-right: 5px;
}

._hot {
  font-size: 20px;
  font-weight: 700;
  color: #2f2f2f;
  text-align: center;
  margin-bottom: 490px;
}

._item3-mod {
  height: 660px;
  padding-top: 50px;
  margin-bottom: 30px;
}

._item3 {
  height: 660px;
  padding-top: 50px;
  background-color: #cccccc;
  margin-bottom: 30px;
  margin-right: 30px;
  display: none;
}

.item-thirdblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-fiveblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.items-fin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-card-head {
  margin-top: 60px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

._left-nav-mod {
  margin-left: 0px;
}

.nav_card {
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  text-transform: uppercase;
  color: #999999;
  text-decoration: none;
}

.nav_card:hover {
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  text-transform: uppercase;
  color: #444444;
  border-bottom: 2px solid #444444;
  padding-bottom: 5px;
}

.cardmain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 270px;
  margin-bottom: 30px;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.card-hov-brd {
  width: 270px;
  height: 34px;
  background-color: #ffffff;
  border: 2px solid #444444;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

._card-hov-brd {
  border: none;
}

.card-hov {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  text-transform: uppercase;
  color: #444444;
  width: 135px;
  text-align: center;
  background-color: #ffffff;
  border: none;
  border-right: 2px solid #444444;
}

._card-hov {
  border-right: none;
}

.add {
  font-size: 13px;
  line-height: 17px;
  font-weight: 400;
  font-style: italic;
  color: #333333;
}

.hov {
  display: none;
}

.cardmain:hover .hov {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-color: 1px solid #cccccc;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card {
  height: 350px;
  background-color: #cccccc;
  margin-bottom: 20px;
}

.sale {
  font-family: Arial;
  font-size: 17px;
  line-height: 17px;
  font-weight: 900;
  color: #cf4647;
  width: 80px;
  height: 25px;
  background-color: rgba(207, 70, 71, 0);
  border: 3px solid #cf4647;
  position: absolute;
  top: 10px;
  left: -5px;
  text-align: center;
  padding-top: 5px;
}

.new {
  font-weight: 700;
  text-transform: uppercase;
  color: #524656;
  border: 3px solid #524656;
}

.out {
  height: 37px;
  border: 3px solid #999999;
  font-size: 15px;
  line-height: 12px;
  color: #999999;
  padding-top: 10px;
}

.card-text {
  font-size: 13px;
  line-height: 19px;
  font-weight: 400;
  color: #444444;
}

.price {
  font-size: 15px;
  line-height: 17px;
  font-weight: 700;
  color: #222222;
}

.card-text-mod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.show-more {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  text-transform: uppercase;
  color: #555555;
  margin-left: 10px;
  margin-right: 10px;
}

._line-show {
  width: 520px;
  height: 1px;
  background-color: #dddddd;
  margin: 0px;
}

._line-mod {
  margin-top: 50px;
  margin-bottom: 115px;
}

.footer_back {
  background-color: #1f1f1f;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer_back2 {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-line-pack: end;
      align-content: end;
  width: 35%;
  padding-right: 0px;
  padding-left: 0px;
}

._column {
  width: 29%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-left: 3%;
  margin-right: 3%;
}

._column2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.column-div {
  padding: 30% 4% 10%;
  border-bottom: 1px solid #2a2a2a;
  border-right: 1px solid #2a2a2a;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  width: 100%;
}

.column-div .div-poz {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.column-div .div-h-but {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.column-div .div-h {
  font-size: 17px;
  line-height: 36px;
  font-weight: 400;
  text-transform: uppercase;
  color: #b6b6b6;
  margin-bottom: 1%;
}

.column-div .div-but {
  color: #b6b6b6;
  text-transform: uppercase;
  width: 25px;
  height: 25px;
  background-color: rgba(250, 250, 250, 0);
  border: 1px solid #999999;
}

.column-div .div-but:hover {
  background-color: #cccccc;
  color: black;
}

.column-div ._div-but-r {
  border-radius: 50%;
}

.column-div ._div-but {
  margin-right: 0,5%;
}

.column-div ._div-but2 {
  font-size: 12.1px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  color: #b5b5b5;
  width: 70px;
  height: 22px;
  background-color: rgba(250, 250, 250, 0);
  border: 1px solid #b5b5b5;
}

.column-div ._div-but3 {
  width: 20%;
}

.column-div .div-img {
  width: 100%;
  height: 180px;
  background-color: #cccccc;
  margin-right: 20px;
}

.column-div ._div-img {
  width: 98%;
  height: 150px;
}

.column-div ._div-img2 {
  width: 98%;
  height: 195px;
}

.column-div .div-p {
  font-family: Arial;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #888888;
  width: 100%;
}

.column-div ._div-p {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #999999;
  margin-top: 15px;
  width: 85%;
}

.column-div ._div-p2 {
  font-size: 10px;
  line-height: 18px;
  width: 100px;
  color: #888888;
}

.column-div ._div-p3 {
  width: 98%;
  margin-top: 25px;
  margin-bottom: 20px;
}

.column-div .div-price {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 15px;
}

.column-div .div-price-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 98%;
}

.column-div .div-a {
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #b6b6b6;
  text-decoration: none;
}

.column-div .div-map-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.column-div ._div-map-form {
  position: relative;
}

.column-div .fengo {
  font-size: 20px;
  line-height: 19px;
  font-weight: 700;
  color: #1f1f1f;
  position: absolute;
  top: 85px;
  left: 85px;
}

.column-div .poiter {
  position: absolute;
  top: 55px;
  left: 60px;
}

.column-div .div-img-map {
  position: relative;
  width: 95%;
  height: 215px;
}

.column-div .div-img-map2 {
  display: none;
}

.column-div .div-img-map3 {
  display: none;
}

.column-div .div-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
}

.column-div .div-inp {
  font-size: 12px;
  line-height: 22px;
  font-weight: 400;
  text-transform: uppercase;
  color: #888888;
  margin-bottom: 2%;
  padding-left: 2%;
  width: 100%;
  height: 30px;
  background-color: rgba(42, 42, 42, 0);
  border: 1px solid #666666;
}

.column-div ._div-inp {
  height: 135px;
}

.column-div .div-subm-but-form {
  width: 90%;
  height: 50px;
  border: 1px solid #666666;
  margin-bottom: 20%;
  padding-left: 20px;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.column-div .inp-mod {
  width: 90%;
  background-color: rgba(255, 255, 255, 0);
  font-size: 13px;
  line-height: 27px;
  font-weight: 400;
  border: none;
  text-transform: uppercase;
  color: #999999;
}

.column-div .div-subm-but {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-size: 27px;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
  color: #999999;
}

.column-div .mini-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column-div .column-div-p {
  font-family: Arial;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  letter-spacing: -0.025em;
  color: #888888;
}

.column-div .column-div-p2 {
  color: #cccccc;
}

.column-div .mini-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.column-div .mini-item .mini-item-card {
  width: 20%;
  height: 60px;
  background-color: #cccccc;
  margin-top: 26px;
}

.column-div .nav-a {
  font-family: Arial;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #888888;
  text-decoration: none;
}

.column-div .nav-a:hover {
  color: #cccccc;
}

.column-div .nav-ul-foot {
  list-style-type: none;
}

.column-div .lab-p {
  font-size: 17.1px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #b1b1b1;
  margin-left: 20px;
}

.column-div .lab-p2 {
  font-family: Arial;
  font-size: 13.1px;
  line-height: 18px;
  font-weight: 400;
  color: #777777;
  margin-left: 20px;
}

.column-div .but-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column-div .but-div-but {
  border: 1px solid transparent;
  font-family: Arial;
  font-size: 13.1px;
  line-height: 26px;
  font-weight: 400;
  color: #666666;
  width: 80px;
  background-color: transparent;
}

.column-div .but-div-but-text {
  margin-right: 5px;
}

._column-div {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

._column-div2 {
  border-right: none;
}

._column-div3 {
  padding-bottom: 95px;
}

._column-div7 {
  padding-top: 60px;
}

._column-div8 {
  border-bottom: none;
}

._column-div9 {
  padding-bottom: 20%;
}

._container5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.down-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 1px solid #2a2a2a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.down-footer .down-footer-left-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.down-footer .down-footer-right-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 380px;
}

.down-footer .down-footer-p {
  font-family: Arial;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
  margin-top: 10px;
}

.down-footer ._down-footer-p {
  display: none;
}

.down-footer .footer-a {
  background-color: rgba(59, 59, 59, 0);
  border: 2px solid #999999;
  width: 30px;
  height: 30px;
  padding-top: 10px;
  padding-left: 10px;
}

.down-footer .footer-a:hover {
  background-color: #cccccc;
}

.down-footer ._footer-a-f {
  font-size: 21.7px;
  line-height: 25px;
  font-weight: 400;
  color: #999999;
  padding-top: 10px;
  padding-left: 10px;
  width: 40px;
  height: 33px;
  padding-top: 7px;
  padding-left: 0px;
  text-align: center;
}

.down-footer .footer-img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.down-footer .but-footer {
  width: 45px;
  height: 45px;
  background-color: rgba(250, 250, 250, 0);
  border: 2px solid #999999;
  color: #999999;
  border-radius: 50%;
}

.down-footer ._but-footer {
  width: 45px;
  height: 45px;
  background-color: rgba(250, 250, 250, 0);
  border: 2px solid #999999;
  color: #999999;
  border-radius: 50%;
}

.down-footer .but-footer_ {
  width: 45px;
  height: 45px;
  background-color: rgba(250, 250, 250, 0);
  border: 2px solid #999999;
  color: #999999;
  border-radius: 50%;
}

.down-footer .but-footer:hover {
  background-color: #cccccc;
}

.down-footer ._but-footer:hover {
  background-color: #cccccc;
}

.down-footer .but-footer_:hover {
  background-color: #cccccc;
}

.down-footer ._but-footer-class {
  display: none;
  width: 20%;
  height: 45px;
}

.down-footer .but-footer-class_ {
  width: 20%;
  height: 45px;
  display: none;
}

.down-footer .but-footer-class {
  width: 20%;
  height: 45px;
  display: block;
}

@media screen and (min-width: 771px) and (max-width: 980px) {
  .container {
    width: 940px;
    margin: 0 auto;
  }
  .nav-header {
    padding: 10px 0px;
    margin-top: 0px;
  }
  .left-nav {
    margin: 0px;
    width: 95%;
  }
  .right-nav {
    margin: 0px;
    width: 98%;
  }
  ._right-nav2 {
    display: none;
  }
  .left-nav1 {
    width: 55%;
  }
  .find {
    margin-top: 15px;
  }
  .nav-basket-mod {
    display: none;
  }
  .right-nav2 {
    width: 35%;
  }
  .nav-header-bottom {
    margin-top: 20px;
  }
  .nav-header-2 {
    margin: 0px;
    padding: 0px;
  }
  .nav-header-2 .nav-sl-2 {
    font-size: 12px;
    margin-left: 23px;
    text-decoration: none;
    line-height: 19px;
    font-weight: 700;
    text-transform: uppercase;
    color: #565656;
    margin-left: 50px;
  }
  .header-bottom {
    margin-bottom: 20px;
  }
  .baner-main {
    height: 546px;
    width: 100%;
  }
  .baner {
    height: 516px;
    width: 100%;
  }
  .baner-p {
    font-size: 25px;
    line-height: 38px;
    font-weight: 700;
  }
  ._baner-parag2 {
    display: none;
  }
  ._baner-p {
    font-size: 85px;
    line-height: 68px;
    margin-bottom: 15px;
  }
  ._baner-p1 {
    font-size: 30px;
    line-height: 28px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  ._baner-p2 {
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
  }
  .items {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .item1-my {
    width: 95%;
    height: 346px;
    background-color: #cccccc;
    margin-bottom: 2,5%;
    margin-right: 2,5%;
  }
  .border-my {
    width: 80%;
    height: 60px;
    padding: 60px 30px;
    margin-top: 85px;
  }
  .line_exc-my {
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  .line {
    width: 85px;
    height: 1px;
    margin-top: 30px;
  }
  ._line_mod {
    width: 41px;
    height: 2px;
    margin-top: 25px;
  }
  ._line_mod2 {
    width: 71px;
    height: 1px;
  }
  .exclusive-my {
    font-size: 34px;
    line-height: 33px;
    margin-left: 5px;
    margin-right: 5px;
  }
  ._exclusive6 {
    font-size: 30px;
    line-height: 19px;
    margin-top: 160px;
  }
  ._exclusive7 {
    font-size: 27px;
    line-height: 35px;
    margin-top: 20px;
    margin-bottom: 100px;
  }
  ._exclusive {
    font-size: 22px;
    line-height: 33px;
    font-weight: 400;
    margin-top: 15px;
  }
  ._exclusive5 {
    font-size: 25px;
    line-height: 17px;
    margin-bottom: 10px;
  }
  ._exclusive2 {
    font-size: 14.6px;
    line-height: 22px;
    margin-top: 55px;
    text-decoration: none;
  }
  ._exclusive3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 15px;
  }
  ._exclusive4 {
    margin-top: 0px;
    font-size: 18.7px;
    line-height: 17px;
  }
  .wom {
    font-size: 15px;
    line-height: 35px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .item2-my {
    width: 95%;
    height: 148px;
    margin-bottom: 2,5%;
    margin-right: 2,5%;
    padding-top: 55px;
  }
  ._item2-my-top {
    padding-top: 92px;
    height: 111px;
  }
  .item3 {
    width: 95%;
    height: 435px;
    margin-bottom: 0px;
    margin-right: 2,5%;
  }
  ._item3 {
    display: none;
  }
  .black {
    font-size: 15px;
    line-height: 31px;
    margin-bottom: 10px;
  }
  ._line_mod3 {
    width: 40px;
    height: 1px;
    margin-bottom: 0px;
  }
  .hot {
    font-size: 20px;
    line-height: 31px;
    margin-left: 5px;
    margin-right: 5px;
  }
  ._hot {
    font-size: 15px;
    line-height: 31px;
    margin-bottom: 360px;
  }
  ._item3-mod {
    height: 517px;
    padding-top: 60px;
    margin-bottom: 30px;
  }
  ._three-but {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 5px;
  }
  .nav-card-head {
    margin-top: 50px;
    margin-bottom: 45px;
  }
  ._left-nav-mod {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .cardmain .card {
    width: 95%;
    height: 350px;
    margin-bottom: 20px;
  }
  ._card-none {
    display: none;
  }
  .card-text-mod {
    width: 95%;
  }
  ._line-show {
    width: 40%;
  }
  .line {
    margin-top: 0px;
  }
  ._line-mod {
    margin-top: 50px;
    margin-bottom: 100px;
  }
  .column-div {
    padding: 70px 5px 40px;
    width: 95%;
  }
  .column-div .div-img {
    height: 170px;
  }
  .column-div ._div-img {
    width: 95%;
    height: 128px;
  }
  .column-div ._div-img2 {
    width: 95%;
    height: 177px;
  }
  .column-div .div-poz {
    width: 95%;
  }
  .column-div ._div-p {
    font-size: 12px;
    line-height: 18px;
    width: 95%;
  }
  .column-div ._div-p2 {
    font-size: 11px;
    line-height: 17px;
    width: 95%;
  }
  .column-div ._div-p3 {
    width: 95%;
    font-size: 11px;
    line-height: 26px;
    margin-top: 25px;
    margin-bottom: 20px;
  }
  .column-div .div-price-main {
    width: 95%;
  }
  .column-div .div-img-map {
    display: none;
  }
  .column-div .div-img-map2 {
    display: block;
    width: 95%;
    height: 130px;
    padding-left: 10px;
    padding-bottom: 20px;
  }
  .column-div .div-img-map3 {
    display: none;
  }
  .column-div .div-map-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .column-div .div-form {
    margin-left: 10px;
  }
  .column-div .div-inp {
    width: 95%;
    height: 30px;
  }
  .column-div ._div-inp {
    width: 95%;
    height: 100px;
  }
  .column-div .div-subm-but-form {
    width: 90%;
    height: 50px;
    margin-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .column-div ._mini-item-card {
    display: none;
  }
  .column-div .mini-item-card {
    width: 100%;
  }
  .column-div ._div-but3 {
    width: 30%;
  }
  .column-div .but-div-but {
    border: 1px solid transparent;
    font-family: Arial;
    font-size: 13.1px;
    line-height: 26px;
    font-weight: 400;
    color: #666666;
    width: 80px;
    background-color: transparent;
  }
  .column-div .but-div-but-text {
    margin-right: 5px;
  }
  ._column-div-width {
    width: 95%;
    margin-left: 5px;
  }
  ._column-div-width1 {
    width: 35%;
  }
  ._column-div-width2 {
    width: 15%;
    margin-right: 5px;
  }
  ._column-div3 {
    padding-bottom: 33px;
  }
  ._column-div7 {
    padding-top: 42px;
  }
  ._column-div8 {
    border-bottom: none;
  }
  .down-footer {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .down-footer .down-footer-right-cards {
    width: 95%;
  }
  .down-footer ._down-footer-p {
    display: none;
  }
  .down-footer ._but-footer-class {
    display: block;
  }
  .down-footer .but-footer-class_ {
    display: none;
  }
  .down-footer .but-footer-class {
    display: none;
  }
}

@media screen and (min-width: 321px) and (max-width: 770px) {
  .container {
    width: 724px;
    margin: 0 auto;
  }
  .nav-header {
    margin-top: 0px;
    margin-bottom: 30px;
    padding: 10px 0px;
  }
  .left-nav {
    margin: 0px;
    width: 95%;
  }
  .right-nav {
    margin: 0px;
    width: 99%;
  }
  ._right-nav2 {
    display: none;
  }
  .left-nav1 {
    width: 55%;
  }
  .right-nav2 {
    width: 45%;
  }
  .nav-basket-mod {
    display: none;
  }
  ._logo-mod {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .logo {
    display: none;
  }
  ._nav-nodisp2 {
    display: none;
  }
  .mod1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav-header-2 {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px;
  }
  .nav-header-2 .nav-sl-2 {
    font-size: 12px;
    margin-right: 30px;
    margin-left: 0px;
  }
  .nav-header-2 ._nav-sl-2 {
    margin-right: 0px;
  }
  .nav-header-bottom {
    margin-top: 25px;
  }
  .header-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
  }
  .baner-main {
    height: 428px;
    width: 100%;
  }
  .baner {
    height: 428px;
    width: 100%;
  }
  .baner-p {
    font-size: 22px;
    line-height: 34px;
  }
  ._baner-parag2 {
    display: none;
  }
  ._baner-p {
    font-size: 75px;
    line-height: 60px;
    margin-bottom: 15px;
  }
  ._baner-p1 {
    font-size: 26px;
    line-height: 25px;
    margin-bottom: 20px;
  }
  ._baner-p2 {
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
  }
  .three-but {
    display: none;
  }
  .items {
    padding-top: 4%;
    padding-bottom: 4%;
  }
  .item1-my {
    width: 95%;
    height: 266px;
    background-color: #cccccc;
    margin-bottom: 2,5%;
    margin-right: 2,5%;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .line {
    width: 65px;
    height: 1px;
    margin-top: 40px;
  }
  ._line_mod {
    width: 30px;
    height: 2px;
    margin-top: 25px;
  }
  ._line_mod2 {
    width: 25%;
    height: 1px;
    background-color: #ffffff;
  }
  .border-my {
    width: 85%;
    height: 40px;
    padding: 45px 15px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20%;
  }
  ._but-baner1 {
    margin-left: 15px;
  }
  ._but-baner2 {
    margin-right: 15px;
  }
  .exclusive-my {
    font-size: 26px;
    line-height: 25px;
    margin-left: 5px;
    margin-right: 5px;
  }
  ._exclusive6 {
    margin-top: 77px;
    font-size: 30px;
    line-height: 19px;
  }
  ._exclusive {
    font-size: 17px;
    line-height: 25px;
    margin-top: 15px;
  }
  ._exclusive5 {
    font-size: 20.1px;
    line-height: 15px;
  }
  ._exclusive2 {
    font-size: 14.1px;
    line-height: 21px;
    margin-top: 32px;
    text-decoration: none;
  }
  ._exclusive3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 15px;
  }
  ._exclusive4 {
    margin-top: 5px;
    font-size: 15px;
    line-height: 14px;
  }
  ._exclusive7 {
    margin-top: 20px;
    margin-bottom: 95px;
  }
  .three-but-item {
    width: 14px;
    height: 13px;
  }
  ._three-but {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 5px;
  }
  .item2-my {
    width: 95%;
    height: 109px;
    margin-bottom: 2,5%;
    margin-right: 2,5%;
    padding-top: 45px;
  }
  ._item2-my {
    margin-bottom: 0px;
  }
  .item3 {
    width: 95%;
    height: 339px;
    margin-bottom: 2,5%;
    margin-bottom: 0px;
  }
  ._item3 {
    display: none;
  }
  .black {
    font-size: 13px;
    line-height: 25px;
    margin-bottom: 10px;
  }
  ._line_mod3 {
    width: 30px;
    height: 1px;
    margin-bottom: 0px;
  }
  .hot {
    font-size: 16px;
    line-height: 28px;
    margin-left: 5px;
    margin-right: 5px;
  }
  ._hot {
    font-size: 13px;
    line-height: 25px;
    margin-bottom: 270px;
  }
  ._item3-mod {
    height: 400px;
    margin-bottom: 30px;
  }
  ._left-nav-mod {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 70%;
  }
  .cardmain .card {
    width: 90%;
    height: 296px;
    margin-bottom: 20px;
  }
  ._card-none {
    display: none;
  }
  .card-text-mod {
    width: 95%;
  }
  ._line-show {
    width: 35%;
    height: 1px;
    background-color: #dddddd;
  }
  .line {
    margin-top: 0px;
  }
  ._line-mod {
    margin-top: 50px;
    margin-bottom: 100px;
  }
  .column {
    width: 30%;
  }
  ._column {
    width: 30%;
  }
  ._column2 {
    width: 30%;
  }
  .column-div {
    padding: 60px 5px 40px;
    width: 95%;
  }
  .column-div .div-img {
    height: 120px;
  }
  .column-div ._div-img {
    width: 100%;
    height: 205px;
  }
  .column-div ._div-img2 {
    width: 95%;
    height: 258px;
  }
  .column-div .div-poz {
    width: 95%;
  }
  .column-div .din_none {
    display: none;
  }
  .column-div ._div-p {
    font-size: 12px;
    line-height: 18px;
    width: 95%;
  }
  .column-div ._div-p2 {
    font-size: 11px;
    line-height: 17px;
    width: 95%;
  }
  .column-div ._div-p3 {
    width: 95%;
    font-size: 13.1px;
    line-height: 26px;
    margin-top: 2%;
    margin-bottom: 1%;
  }
  .column-div .div-price-main {
    width: 95%;
  }
  .column-div .div-img-map {
    display: none;
  }
  .column-div .div-img-map2 {
    display: none;
  }
  .column-div .div-img-map3 {
    display: block;
    width: 280x;
    height: 130px;
    padding-left: 10px;
    padding-bottom: 20px;
  }
  .column-div .div-map-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .column-div .div-form {
    margin-left: 10px;
  }
  .column-div .div-inp {
    width: 95%;
    height: 30px;
  }
  .column-div ._div-inp {
    width: 95%;
    height: 100px;
  }
  .column-div .div-subm-but-form {
    width: 90%;
    height: 50px;
    margin-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .column-div ._div-but3 {
    width: 30%;
  }
  .column-div ._mini-item-card {
    display: none;
  }
  .column-div .but-div-but {
    border: 1px solid transparent;
    font-family: Arial;
    font-size: 13.1px;
    line-height: 26px;
    font-weight: 400;
    color: #666666;
    width: 80px;
    background-color: transparent;
  }
  .column-div .but-div-but-text {
    margin-right: 5px;
  }
  .column-div ._mini-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .column-div .lab-p {
    margin-top: 2%;
  }
  .column-div .nav-a {
    font-family: Arial;
    font-size: 12px;
    line-height: 31px;
    font-weight: 400;
    color: #888888;
  }
  ._column-div-width {
    width: 95%;
    margin-left: 5px;
  }
  ._column-div-width1 {
    width: 35%;
  }
  ._column-div-width2 {
    width: 15%;
    margin-right: 5px;
  }
  ._column-div3 {
    padding-bottom: 33px;
  }
  ._column-div7 {
    padding-top: 42px;
  }
  ._column-div8 {
    border-bottom: none;
  }
  .down-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .down-footer .down-footer-right-cards {
    width: 95%;
  }
  .down-footer ._down-footer-p {
    display: none;
  }
  .down-footer ._but-footer-class {
    display: none;
  }
  .down-footer .but-footer-class_ {
    display: none;
  }
  .down-footer .but-footer-class {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 3%;
  }
}

@media screen and (max-width: 320px) {
  .container {
    width: 280px;
    margin: 0 auto;
  }
  .nav-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0px;
  }
  .left-nav {
    width: 100%;
    margin: 0px;
  }
  ._right-nav2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style-type: none;
  }
  .right-nav {
    display: none;
  }
  ._nav-nodisp {
    display: none;
  }
  .mod1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  ._nav-sl {
    display: none;
  }
  ._nav-nodisp2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 11px;
    line-height: 19px;
    font-weight: 400;
    text-transform: uppercase;
    color: #7e7e7e;
    text-align: center;
    text-decoration: none;
    margin-bottom: 25px;
    -ms-flex-item-align: center;
        align-self: center;
  }
  ._logo-mod {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .logo {
    display: none;
  }
  .find {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: 25px;
  }
  ._nav-header-bottom {
    display: none;
  }
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .basket-p {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    text-transform: uppercase;
    color: #565656;
    margin-left: 5px;
  }
  .basket {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .basket-p-img {
    width: 24px;
    height: 18px;
  }
  .nav-basket-mod {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 20px;
  }
  .baner-main {
    height: 178px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .baner {
    height: 178px;
    width: 100%;
  }
  ._baner-parag {
    display: none;
  }
  ._baner-parag2 {
    display: block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  ._baner-parag2-mod {
    width: 100%;
    height: 100px;
    background-color: rgba(245, 250, 244, 0);
    border: 1px solid rgba(255, 255, 255, 0.29);
    padding: 20px 5px;
  }
  .baner-parag2-line {
    width: 16px;
    height: 3px;
    background-color: #ffffff;
    margin-top: 20px;
  }
  .baner320-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 10px;
  }
  .baner320 {
    font-size: 20px;
    line-height: 17px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin-right: 3px;
    margin-left: 3px;
  }
  ._baner320 {
    font-size: 12px;
    line-height: 17px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
  }
  ._baner320-2 {
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .three-but {
    display: none;
  }
  ._three-but {
    display: none;
  }
  .but-baner {
    display: none;
  }
  ._container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px;
  }
  .items {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .item1-my {
    width: 100%;
    height: 156px;
    background-color: #cccccc;
    margin-bottom: 10px;
    margin-right: 0px;
    padding-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  ._exclusive-fin {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  .line {
    width: 53px;
    height: 1px;
    margin-top: 21px;
  }
  ._exclusive-fin1 {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
  }
  .border-my {
    width: 80%;
    height: 35px;
    padding: 40px 10px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  ._line_mod {
    width: 30px;
    height: 2px;
    margin-top: 25px;
  }
  .exclusive-my {
    font-size: 21px;
    line-height: 21px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .exclusive-my-mod {
    font-size: 35px;
    line-height: 19px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
  }
  ._exclusive6 {
    margin-top: 77px;
  }
  ._exclusive {
    font-size: 13px;
    line-height: 20px;
    margin-top: 10px;
  }
  ._exclusive5 {
    font-size: 25px;
    line-height: 18px;
    margin-bottom: 10px;
  }
  ._exclusive5-mod {
    font-size: 28px;
    line-height: 22px;
    font-weight: 700;
    margin-top: 20px;
  }
  ._exclusive7 {
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 110px;
  }
  ._exclusive2 {
    font-size: 14.1px;
    line-height: 21px;
    margin-top: 0px;
    text-decoration: none;
  }
  ._exclusive3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0px;
  }
  ._exclusive4 {
    font-size: 21px;
    line-height: 18px;
  }
  ._exclusive3-mod {
    margin-top: 25px;
  }
  ._item2-my-top {
    margin-right: 0px;
  }
  .item2-my {
    width: 100%;
    height: 109px;
    margin-bottom: 10px;
    margin-right: 0px;
    padding-top: 45px;
  }
  .item3 {
    width: 100%;
    height: 401px;
    margin-bottom: 10px;
    margin-right: 0px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  ._three-but {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  ._item3-mod {
    display: none;
  }
  ._item3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 537px;
    padding-top: 20px;
    margin-bottom: 10px;
    margin-right: 0px;
    -ms-flex-item-align: center;
        align-self: center;
  }
  ._item3-mod-mod {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .black {
    font-size: 14.3px;
    line-height: 31px;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: none;
  }
  ._line_mod3 {
    width: 40px;
    height: 2px;
    margin-top: 10px;
  }
  .line_exc-my {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hot {
    font-size: 18px;
    line-height: 31px;
    margin-left: 5px;
    margin-right: 5px;
  }
  ._hot {
    font-size: 15.8px;
    line-height: 31px;
    font-weight: 700;
    margin-bottom: 400px;
  }
  .items-fin {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .item-thirdblock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .item-forthblock {
    width: 90%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-right: 0px;
  }
  .item-fiveblock {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: center;
        align-self: center;
  }
  ._left-nav-mod {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav_card-li {
    margin-bottom: 20px;
    text-align: center;
  }
  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 90%;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .cardmain .card {
    width: 98%;
    height: 364px;
    margin-bottom: 20px;
    background-color: #cccccc;
  }
  ._card-none {
    display: none;
  }
  ._card-none2 {
    display: none;
  }
  .card-text-mod {
    width: 95%;
  }
  ._line-mod {
    margin-top: 48px;
    margin-bottom: 80px;
    width: 90%;
  }
  ._line-show {
    width: 25%;
  }
  .line {
    margin-top: 0px;
  }
  .show-more {
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
  }
  .footer_back2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  ._column {
    width: 95%;
  }
  ._column2 {
    width: 95%;
  }
  .column {
    width: 95%;
  }
  ._column-div-width {
    width: 95%;
  }
  ._column-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .column-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 25% 0px 25%;
    width: 95%;
    border-right: none;
  }
  .column-div .div-img {
    height: 120px;
    width: 100%;
    float: left;
  }
  .column-div ._div-img {
    width: 100%;
    height: 205px;
  }
  .column-div ._div-img2 {
    width: 90%;
    height: 169px;
  }
  .column-div .div-poz {
    width: 95%;
  }
  .column-div .din_none {
    display: none;
  }
  .column-div ._div-p {
    font-size: 12px;
    line-height: 18px;
    width: 95%;
  }
  .column-div ._div-p2 {
    font-size: 11px;
    line-height: 17px;
    width: 95%;
  }
  .column-div ._div-p3 {
    width: 95%;
    font-size: 13.1px;
    line-height: 26px;
    margin-top: 2%;
    margin-bottom: 1%;
  }
  .column-div .div-price-main {
    width: 95%;
  }
  .column-div .div-img-map {
    display: none;
  }
  .column-div .div-img-map2 {
    display: none;
  }
  .column-div .div-img-map3 {
    display: block;
    width: 95%;
    height: 130px;
    padding-left: 10px;
    padding-bottom: 20px;
  }
  .column-div .div-map-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .column-div .div-form {
    margin-left: 10px;
  }
  .column-div .div-inp {
    width: 95%;
    height: 30px;
  }
  .column-div ._div-inp {
    width: 95%;
    height: 100px;
  }
  .column-div ._div-but3 {
    width: 20%;
  }
  .column-div .div-subm-but-form {
    width: 93%;
    height: 50px;
    margin-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .column-div ._mini-item-card {
    display: none;
  }
  .column-div .mini-div-img {
    width: 32px;
    height: 32px;
  }
  .column-div .but-div-but {
    border: 1px solid transparent;
    font-family: Arial;
    font-size: 13.1px;
    line-height: 26px;
    font-weight: 400;
    color: #666666;
    width: 80px;
    background-color: transparent;
  }
  .column-div .but-div-but-text {
    margin-right: 5px;
  }
  .column-div ._column-div {
    width: 95%;
    border-right: none;
  }
  .column-div ._column-div-width {
    width: 95%;
    margin-left: 5px;
    border-right: none;
  }
  .column-div ._column-div-width1 {
    width: 95%;
  }
  .column-div ._column-div-width2 {
    width: 95%;
    margin-right: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .column-div .nav-ul-foot {
    margin: 0px;
    padding: 0px;
  }
  .column-div ._mini-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .column-div .but-div-but {
    margin-bottom: 3%;
  }
  .column-div ._column-div2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 15px;
  }
  .column-div ._column-div3 {
    padding-bottom: 33px;
  }
  .column-div ._column-div7 {
    padding-top: 42px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0px;
    border-right: none;
  }
  .column-div ._column-div8 {
    border-bottom: 1px solid #ffffff;
  }
  .down-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 1%;
  }
  .down-footer ._container5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 1%;
  }
  .down-footer .down-footer-right-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 95%;
  }
  .down-footer .down-footer-left-cards {
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 95%;
  }
  .down-footer ._down-footer-p {
    display: block;
    font-family: Arial;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #666666;
    margin-top: 10px;
  }
  .down-footer .footer-img {
    margin-right: 5px;
    margin-bottom: 5px;
  }
  .down-footer .footer-a {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
  }
  .down-footer .down-footer-p {
    display: none;
  }
  .down-footer ._but-footer-class {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .down-footer .but-footer-class_ {
    display: none;
  }
  .down-footer .but-footer-class {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */